*{
    background-color: f8f8f8;
 
}
.container-fliud a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.centrar{
    display: flex;
    
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}
.imagen{
    display: flex;
    
    justify-content: center;
    margin-top: 5px;
    align-items: center;
}
footer{
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 2px;
}
input{
    width: 220px;  
}

.obs{
    width: 380px;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.user{
    padding-right: 26px;
}

/* MODO DARK*/
.darkmode{
    background-color: #292929;
    color: white;
}
.darkmode nav{
    background: #292929;
    color: white;
}
.darkmode body{
    background-color: #292929;
    color: white;
}
/* ESTE DARKMODE SOLO APLICA PARA EL TITULO DE CENTRAR
.darkmode .centrar{
    background-color: #292929;
    color: white;
}
*/
.darkmode .navbar{
    color: green;
}
.form-check{
    cursor: pointer;
}
/* FINALIZA MODO DARK*/